.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.loading {
    font-size: 18px;
    margin: 20px;
    color: #333;
}

.post-list {
    list-style: none;
    padding: 0;
}

.post-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 10px auto;
}

.post-item h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.post-item p {
    font-size: 16px;
    color: #666;
}



/* Style existing hyperlinks */
.post-item a {
    font-size: 14px;
    color: #3498db;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}

