
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.post {
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.post h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.likes {
    color: #666;
}

.like-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}


